.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li > span {
  margin: 0px 5px;
  position: relative;
  display: block;
  padding: 0px;
  /*line-height: 64px;*/
  line-height: 45px;
  color: $theme-nav-span;
}

.topbar {
  left: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;
}

.topbar .topbar-left {
  background: $theme-main;
  float: left;
  text-align: center;
  height: 64px;
  position: relative;
  width: 250px;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.enlarged .topbar .topbar-left {
  width: 70px;
}

.topbar .topbar-left .logo {
  line-height: 64px;
}

@media (min-width: 768px) {
  .topbar .topbar-left .logo .big, .enlarged .topbar .topbar-left .logo .small {
    -webkit-animation: 1.5s fadeInOn;
    -moz-animation: 1.5s fadeInOn;
    -o-animation: 1.5s fadeInOn;
    animation: 1.5s fadeInOn;
    display: inline;
  }
}

.topbar .topbar-left .logo .small, .enlarged .topbar .topbar-left .logo .big {
  display: none;
}

.navbar-custom {
  height: 64px;
  background-color: $theme-navbar;
  border-radius: 0px !important;
  margin-bottom: 0px;
  padding: 0px 20px;
  -webkit-box-shadow: 0 2px 5px 0px $theme-nav-custom-box-shadow;
  -moz-box-shadow: 0 2px 5px 0px $theme-nav-custom-box-shadow;
  -ms-box-shadow: 0 2px 5px 0px $theme-nav-custom-box-shadow;
  box-shadow: 0 2px 5px 0px $theme-nav-custom-box-shadow;
}

.navbar-custom .navbar-nav .nav-link {
  padding: 0px;
  /*line-height: 64px;*/
  line-height: 45px;
  color: #000;
  margin-left: 5px
}

.navbar-custom .navbar-nav .nav-link:focus, .navbar-custom .navbar-nav .nav-link:hover {
  color: #000;
}

.button-menu-mobile {
  background: $theme-navbar;
  border: none;
  color: $theme-button-menu-mobile-color;
  font-size: 21px;
  line-height: 64px;
  padding: 0px 20px;
  margin-left: 0px;
  margin-top: -1px;
}

.button-menu-mobile:hover {
  color: $theme-button-menu-mobile-hover;
}

@media (max-width: 767px) {
  .button-menu-mobile {
    padding: 0px 20px;
  }

  .navbar-nav {
    float: left;
    margin: 0 !important;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .topbar .topbar-left {
    width: 70px;
  }

  .topbar .topbar-left .logo .big {
    display: none;
  }

  .enlarged .topbar .topbar-left .logo .small, .topbar .topbar-left .logo .small {
    display: inline;
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

.logoff {
  color: $theme-logout-color;
}

@-webkit-keyframes fadeInOn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-moz-keyframes fadeInOn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-o-keyframes fadeInOn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@keyframes fadeInOn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

// nav language
.dropbtn {
    background-color: #16428C;
    color: #fff;
    padding: 20px;
    margin-right: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #16428C;
  color: #fff;
  text-decoration: none;
  }
  .dropdown-content a:active {
  background-color: #16428C;
  color: #fff;
  text-decoration: none;
  }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #16428C;
    color: #fff;
}

// dropdown profile
.icon-right i {
  margin-right: 10px;
}
