.head-content{
    width: 100%;
    height: 663px;
    left: 0px;
    top: 0px;

    /* blue */

    background: #5939C6;
    /* drop-shadow-01 */

    box-shadow: 0px 30px 64px 10px rgba(47, 47, 47, 0.1);
    display: flex;
    justify-content: center;
}
.box-content1{
    border: 1px #ffffff;
    width: 74%;
}
.box-last{
    display: none;
}
.box-left{
    // background-color: wheat;
    width: 60%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;

}
.box-right{
    // background-color: thistle;
    width: 40%;
    float: left;
    height: 100%;
}
.title{
    font-size: 54px;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    margin-top: 7%;
    color: #ffffff;
    line-height: 75px;
    /* bai-jamjuree-600 - latin */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    // letter-spacing: 1px 
}
.sub-title{
    font-size: 23px;
    width: 83%;
    height: auto;
    /* overflow: hidden; */
    margin-top: 3%;
    color: #ffffff;
    line-height: 32px;
    letter-spacing: 0.8px;
}
.sub-title2{
    display: none;
}
.head-button2{
    display: none;
}
.box-left-center{
    height: 80%;
}
.head-button{
    margin-top: 6%;
    width: 260px;
    height: 80px;
    background: #FFD301;
    font-size: 24px;
    color: #2F2F2F;
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-head{
    width: 640px;
    margin-top: 8%;
}
@media (max-width: 768px){
    .head-content{
        height: auto;
    }
    .box-content1{
        border: 1px #ffffff;
        width: 90%;
    }
    .box-left{
        // background-color: wheat;
        width: 100%;
        float: left;
        height: auto;
        display: flex;
        align-items: center;
    }
    .box-last{
        display: grid;
        background-color: #5939C6;
        width: 100%;
        float: left;
        height: auto;
        margin-bottom: 5%;
    }
    .box-right{
        // background-color: thistle;
        width: 100%;
        float: left;
        height: auto;
    }
    .title{
        font-size: 8vw;
        width: 100%;
        height: auto;
        /* overflow: hidden; */
        margin-top: 10%;
        color: #ffffff;
        line-height: normal;
        /* bai-jamjuree-600 - latin */
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 600;
        // letter-spacing: 1px 
    }
    .img-head{
        width: 95% ;
        margin-top: 8%;
    }
    .sub-title{
        display: none;
    }
    .head-button{
        display: none;
    }
    .head-button2{
        margin-top: 6%;
        width: 60vw;
        height: 18vw;
        background: #FFD301;
        font-size: 6vw;
        color: #2F2F2F;
        border-radius: 50px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sub-title2{
        font-size: 5vw;
        width: 95%;
        height: auto;
        /* overflow: hidden; */
        margin-top: 3%;
        color: #ffffff;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.8px;
        display: flex;
    }
}
 