$gray1-color: #cbcbcb;
$gray2-color: #e0e0e0;
$gray3-color: #E6E6E6;
$dark-gray1-color: #2d3e50;
$dark-gray2-color: #617183;
$dark-blue: #1B5879;
$green-color: #18d8a9;
$red-color: #da4453;
$white-color: #fff;
$black-color: #000;

$indigo-color: #3F51B5;
$drak-indigo1-color: #283593; 
$drak-indigo2-color: #16428C; 

$light-blue: #48c0e3;

/* color form wizard */
$form-wizard-main : #16428C;
$form-wizard-line : #1B396D;
$form-wizard-button: #283593; 
$form-wizard-color: #999; 
$form-wizard-color-active: #444; 

/*  color button   */
$btn-new-primary-bg: $drak-indigo2-color;
$btn-new-primary-bg-hover: #1b53b1;
$btn-new-primary-color: $white-color;
$btn-new-primary-color-hover: $white-color;
$btn-new-primary-border: $drak-indigo2-color;

$btn-new-info-bg: $light-blue;
$btn-new-info-bg-hover: transparent;
$btn-new-info-color: $white-color;
$btn-new-info-color-hover: $light-blue;
$btn-new-info-border: $light-blue;
